{% extends "employee/base.html" %}  {% block content %}
{% include "employee/navbar.html" %}
<div class="card shadow m-5">
    {% if messages %}
    {% for message in messages  %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
  <div class="card-body">
    <h5 class="text-success p-3" style="border-bottom: 2px solid">Create Account</h5>
    <div class="container-fluid mt-4">
    <form action="{% url "employee_signup" %}" method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="mb-3 col-6">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" placeholder="First name" name="first_name" aria-label="First name">
          </div>
          <div class="mb-3 col-6">
            <label for="firstname" class="form-label">Last Name</label>

            <input type="text" class="form-control" placeholder="Last name" name="last_name" aria-label="Last name">
          </div>
          <div class="mb-3">
            <label for="employeecode" class="form-label">Employee Code</label>

            <input type="text" class="form-control" placeholder="Enter Employee Code" name="employee_code" aria-label="Last name">
          </div>
      <div class="mb-3">
        <label for="email1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter Your Email"
          name="email"
          aria-describedby="emailHelp"
        />
       
      </div>
      <div class="mb-3 col-6">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Enter Password"
        />
      </div>
      <div class="mb-3 col-6">
        <label for="password" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          name="confirm_password"
          id="confirm_password"
          placeholder="Enter Password"
        />
      </div>
     
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</div>
</div>
{% endblock content %}
